
body{
	padding-top: 30px;
        font-family:"微软雅黑","黑体","宋体";
}
a{	
	color:#234DCC;
	text-decoration: none;	
}
a:link{
	color:#green;
	text-decoration: underline;
}

a:visited {
//	color:#454545;
    	color: grey;
    	background-color: transparent;
    	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

table{
	border: 0;
	//width:1050px;
}
tr{
	height:35px;
}

.th0{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:26px;
	color:#fff;
	text-align: center;
	width: 100%;
	background-color:#0099FF;
}
.tdSingle0{
//	background-color:#ACD1FB;	
	text-align: center; 
	//width: 150px;
	table-layout:fixed;
//	word-warp:break-warp;
//	word-break:break-all;
}
.tdDouble0{
	background-color:#DEEDFE;
	text-align: center; 
	width: 150px;
	table-layout:fixed;
	word-warp:break-warp;
	word-break:break-all;
}

.th1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:26px;
	color:#fff;
	text-align: center;
	width: 100%;
	background-color:#9A72C2;
}
.tdSingle1{
	background-color: #DFBFFF;
	text-align: center; 
	width: 150px;
	table-layout:fixed;
	word-warp:break-warp;
	word-break:break-all;
}
.tdDouble1{
	background-color:#F0E1FF;
	text-align: center; 
	width: 150px;
	table-layout:fixed;
	word-warp:break-warp;
	word-break:break-all;
}

.th2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:26px;
	color:#fff;
	text-align: center;
	width: 100%;
	background-color:#CC8C4E;
}
.tdSingle2{
	background-color:#FFE3CA;
	text-align: center; 
	width: 150px;
	table-layout:fixed;
	word-warp:break-warp;
	word-break:break-all;
}
.tdDouble2{
	background-color:#FFEEDF;
	text-align: center; 
	width: 150px;
	table-layout:fixed;
	word-warp:break-warp;
	word-break:break-all;
}

